#gc {
    margin: 0 auto;
    display: block;
    width: 480px;
    height: 420px;
}

fieldset {
    width: 455px;
    margin: 0 auto;
}

@media (max-width: 470px) {
    canvas {
        width: 95vw;
    }

    fieldset {
        width: 88vw;
    }
}